<div class="wrapper">
    <nav class="main-nav">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    <section class="top-container">
        <header class="showcase">
            <h1>Surendra Pilania</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis exercitationem inventore quia, officia in minus illo odio, iure ut provident quae obcaecati accusamus at mollitia error aliquid earum ad similique, est a ab! Dolor?</p>
            <a href="#" class="btn"></a>
        </header>
        <div class="top-box top-box-a">
            <h4>Membership</h4>
            <p class="price">$179/mo</p>
            <a href="#" class="btn">Buy Now</a>
        </div>
        <div class="top-box top-box-b">
            <h4>Pro Membership</h4>
            <p class="price">$379/mo</p>
            <a href="#" class="btn">Buy Now</a>
        </div>
    </section>

    <div class="box">
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="img-magnifier-container" appZoomFn>
        <div #magidiv ></div>
         <img class="testimg" src="assets/2471.jpg"></div>
</div>