
<div class="options">
      <button class="navbtn" (click)="previous()" [disabled]="btnDisabled" ><i class="fa-solid fa-left-long"></i>&nbsp;Previous Page</button>
      <div class="searchbox">
      <input class="searchbar" type="text" #input>
      <button (click)="getImage(input)">&nbsp;<i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
      <button  class="navbtn" (click)="next()">Next Page&nbsp;<i class="fa-solid fa-right-long"></i></button>
    </div>
    <br><hr><ng-progress id="myProgress"></ng-progress>
    
    <div class="imgbox" >
         <div *ngIf="errorText; else elseblock">
            <h3>Sorry! {{errorText}}</h3>
        </div>
        <ng-template #elseblock>
       
        <div class="h-52 w-52 m-5 img-magnifier-container" *ngFor="let item of imageArray" appZoomFn>
          <div #magdiv></div>
          <img  #myimage class="h-52 w-52" [src]="item.src.original">
        </div>
    </ng-template>
    </div>  
     
    